mqtt:
  enabled: false

# Отключаем тяжёлые функции для слабого ПК
semantic_search:
  enabled: false
  model_size: small
face_recognition:
  enabled: true
  model_size: small
  detection_threshold: 0.6
  min_area: 300
lpr:
  enabled: true
  model_size: small
  enhancement: 5
classification:
  bird:
    enabled: false

# Детектор на CPU (самый простой вариант)
detectors:
  cpu1:
    type: cpu

# Общие настройки детекта
detect:
  enabled: true
  fps: 5

# Запись ПО ДВИЖЕНИЮ (motion) + хранение детекций по объектам
record:
  enabled: true
  alerts:
    retain:
      days: 14
      mode: motion

# "Detections" — хранение по объектам (то, что обычно нужно)
  detections:
    retain:
      days: 14
      mode: active_objects

# Какие объекты отслеживать (чем меньше список — тем легче CPU)
  continuous:
    days: 0
  motion:
    days: 3
objects:
  track:
    - person
    - car
    - lpr
    - license_plate

cameras:
  zad-nomera:
    enabled: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://addmmiinn:addmmiinn@192.168.103.166:554/cam/realmonitor?channel=1&subtype=0
          roles: [detect]

    objects:
      track: [car]
      filters:
        car: {}

    snapshots:
      enabled: true
      crop: true
      retain:
        default: 14

  zad-gate1-out:
    enabled: true
    ffmpeg:
      inputs:
        - path: 
            rtsp://addmmiinn:addmmiinn@192.168.103.153:554/cam/realmonitor?channel=1&subtype=0
          roles: [detect]

    objects:
      track: [car]
      filters:
        car: {}

    snapshots:
      enabled: true
      crop: true
      retain:
        default: 14

  krup-face:
    enabled: true
    ffmpeg:
      inputs:
        # detect = substream (дешево для CPU)
        - path: 
            rtsp://addmmiinn:addmmiinn@192.168.31.12:554/cam/realmonitor?channel=1&subtype=1&unicast=true&proto=Onvif
          roles: [detect]
          input_args:
            - -rtsp_transport
            - tcp

        # record = основной поток (качество для архива)
        - path: 
            rtsp://addmmiinn:addmmiinn@192.168.31.12:554/cam/realmonitor?channel=1&subtype=0&unicast=true&proto=Onvif
          roles: [record]
          input_args:
            - -rtsp_transport
            - tcp
    detect:
      width: 720
      height: 576
      fps: 5   # можно не ставить, но полезно явно

    objects:
      track:
        - person
      filters:
        person: {}

    snapshots:
      enabled: true
      crop: true
      retain:
        default: 14
  krasn-face:
    enabled: true
    ffmpeg:
      inputs:
        # detect = substream (дешево для CPU)
        - path: 
            rtsp://addmmiinn:addmmiinn@192.168.40.240:554/cam/realmonitor?channel=1&subtype=1
          roles: [detect]
          input_args:
            - -rtsp_transport
            - tcp

        # record = основной поток (качество для архива)
        - path: 
            rtsp://addmmiinn:addmmiinn@192.168.40.240:554/cam/realmonitor?channel=1&subtype=0
          roles: [record]
          input_args:
            - -rtsp_transport
            - tcp
    detect:
      width: 720
      height: 576
      fps: 5   # можно не ставить, но полезно явно

    objects:
      track:
        - person
      filters:
        person: {}

    snapshots:
      enabled: true
      crop: true
      retain:
        default: 14

  dov_cam6:
    enabled: true
    ffmpeg:
      inputs:
      - path: rtsp://addmmiinn:addmmiinn@10.62.0.196:554/cam/realmonitor?channel=6&subtype=0
        roles:
          - detect
          - record
        input_args:
          - -rtsp_transport
          - tcp
    detect:
      width: 704
      height: 576
      fps: 5

    live:
      streams:
        Stream 1: dov_cam6

    objects:
      track:
        - person
      filters:
        person: {}

    snapshots:
      enabled: true
      crop: true
      retain:
        default: 14

  dov_cam10:
    enabled: true
    ffmpeg:
      inputs:
      - path: rtsp://addmmiinn:addmmiinn@10.62.0.196:554/cam/realmonitor?channel=10&subtype=0
        roles:
          - detect
          - record
        input_args:
          - -rtsp_transport
          - tcp
    detect:
      width: 704
      height: 576
      fps: 5

    live:
      streams:
        Stream 1: dov_cam10

    objects:
      track:
        - person
      filters:
        person: {}

    snapshots:
      enabled: true
      crop: true
      retain:
        default: 14
        
version: 0.17-0
go2rtc:
  streams:
    zad-nomera:
      - rtsp://addmmiinn:addmmiinn@192.168.103.166:554/cam/realmonitor?channel=1&subtype=0
    krup-face:
      - rtsp://addmmiinn:addmmiinn@192.168.31.12:554/cam/realmonitor?channel=1&subtype=1&unicast=true&proto=Onvif
    dov_cam6:
      - rtsp://addmmiinn:addmmiinn@10.62.0.196:554/cam/realmonitor?channel=6&subtype=0
    dov_cam10:
      - rtsp://addmmiinn:addmmiinn@10.62.0.196:554/cam/realmonitor?channel=10&subtype=0  
